In [1]:
import pandas as pd
import numpy as np

In [2]:
#Load in the arterial map file
try:
    vessel_df = pd.read_pickle ('C:\\Users\\cbnor\\Documents\\Full Body Flow Model Project\\SysArteries.pkl')
except:
    vessel_df = pd.read_pickle ('C:\\Users\\Cassidy.Northway\\RemoteGit\\SysArteries.pkl')

In [3]:
#Note the index number of each segment which ends in a ST in a new array

filtered_df = vessel_df[vessel_df['End Condition'] == 'ST']
np_array = filtered_df.index.values

In [4]:
#Create a second column with the matching segment numbers based on the matching map
empty_col = np.zeros((np.shape(np_array)[0],1))
array = np.append(np.expand_dims(np_array,axis=1),empty_col,axis=1)

#Read in the matching vessel names 
try:
    mirror_df = pd.read_excel ('C:\\Users\\cbnor\\Documents\\Full Body Flow Model Project\\Mirroring_Tuning_Map.xlsx', usecols ="B,C,E")
except:
    mirror_df = pd.read_excel ('C:\\Users\\Cassidy.Northway\\RemoteGit\\Mirroring_Tuning_Map.xlsx', usecols ="B,C,E")

left_vessels = mirror_df['Left Vessel'].reset_index()
right_vessels = mirror_df['Right Vessel'].dropna().reset_index()

#Search the vessel data frame to find string containing the vessel names, match to the index and update the second column
for i in range(0,len(right_vessels)):
    left_string = left_vessels['Left Vessel'].iloc[i]
    index_left = filtered_df[filtered_df['Name'].str.match(left_string+'_')].index.values

    right_string = right_vessels['Right Vessel'].iloc[i]
    index_right = filtered_df[filtered_df['Name'].str.match(right_string+'_')].index.values

    array_index = np.where(array[:,0] == index_left)
    array[array_index,1] = index_right
    
    #Remove the matched value rows
    rem_index = np.where(array[:,0] == index_right)
    array = np.delete(array,rem_index, axis = 0)

np_array = array

In [5]:
#For ADAN data add ADAN vessel number to a new column 
empty_col = np.zeros((np.shape(np_array)[0],1))
array = np.append(np_array,empty_col,axis=1)

#Load in ADAN vessel numbers
adan_df = mirror_df.dropna(subset=['Adan Vessels ID ']).reset_index()
display(adan_df)

,index,Left Vessel,Right Vessel,Adan Vessels ID
0,8,arteries_larm10,arteries_rarm2,1928
1,24,arteries_lleg14,arteries_rleg30,2113
2,34,arteries_lleg25,arteries_rleg24,2450
3,38,arteries_lleg29,arteries_rleg7,2379
4,42,arteries23,right_external_iliac_artery,2437
5,49,right_carotid_artery,left_vertebral_arteries,2512
6,50,superior_mesenteric_artery,NaN,852
7,51,left_common_cartoid_artery,NaN,"2492, 2497, 2503"
8,52,common_hepatic_artery,NaN,2467
9,53,inferior_mesenteric_artery,NaN,1031

In [6]:
#For those values with ADAN vessels add a final column with either 0, -1, or len/2 to indicate we want to take the time series from
#WILL NEED TO BE DONE ON HOME LAPTOP

In [7]:
left_vessels = adan_df['Left Vessel'].reset_index()

for i in range(0,len(left_vessels)):
    left_string = left_vessels['Left Vessel'].iloc[i]
    print(left_string)
    index_left = vessel_df[vessel_df['Name'].str.match(left_string+'_')]#.index.values
    print(index_left)
    #array_index = np.where(array[:,0] == index_left)
    #array[array_index,1] = index_right

arteries_larm10
                  Name         lam                             Radius Values  \
110  arteries_larm10_0   16.133096  [1.6847346298082457, 1.6605002633391708]
131  arteries_larm10_1  136.723963  [1.6493228784148273, 1.0172302426085267]
151  arteries_larm10_2   42.945679  [0.9996807553281728, 0.9052213896051646]
171  arteries_larm10_3   43.268786  [0.9007230022871849, 0.8381783525309369]
187  arteries_larm10_4  104.135281  [0.8318584011569172, 0.6542381958037344]

    End Condition
110    [131, 132]
131    [151, 152]
151    [171, 172]
171    [187, 188]
187            ST
arteries_lleg14
                  Name         lam                             Radius Values  \
255  arteries_lleg14_0  128.092313  [0.9872056933300243, 0.9662850359959824]

    End Condition
255            ST
arteries_lleg25
                  Name         lam                             Radius Values  \
257  arteries_lleg25_0  231.587032  [1.8282908542415324, 0.7116237029770259]

    End Condition
257            ST
arteries_lleg29
                  Name         lam                             Radius Values  \
245  arteries_lleg29_0   55.819885  [1.6889273379887975, 1.5597580783011045]
258  arteries_lleg29_1   35.663213   [1.545576118788501, 1.3068030752177353]
272  arteries_lleg29_2   56.804271  [1.2873359091317287, 0.9546902469933637]
284  arteries_lleg29_3  103.108083  [0.9320596888525156, 0.6127562464518569]
300  arteries_lleg29_4  106.671091  [0.6050391590743922, 0.5641048826790174]

    End Condition
245    [258, 259]
258    [272, 273]
272    [284, 285]
284    [300, 301]
300            ST
arteries23
             Name       lam                            Radius Values  \
227  arteries23_0  72.82054  [1.202510388913491, 1.2031936188494274]

    End Condition
227            ST
right_carotid_artery
                     Name         lam  \
6  right_carotid_artery_0  182.863106

                              Radius Values End Condition
6  [1.0372402320543708, 1.4077383015410248]            ST
superior_mesenteric_artery
                            Name         lam  \
20  superior_mesenteric_artery_0  122.922092

                              Radius Values End Condition
20  [1.7587298532332765, 1.668764021716361]            ST
left_common_cartoid_artery
                           Name         lam  \
4  left_common_cartoid_artery_0  104.527284

                              Radius Values End Condition
4  [2.0930494756709175, 1.7054911275342857]            ST
common_hepatic_artery
                       Name        lam  \
32  common_hepatic_artery_0  21.472219
49  common_hepatic_artery_1  10.711196

                               Radius Values End Condition
32   [1.718960200164734, 1.7197704397820164]      [49, 50]
49  [1.7198291562694432, 1.7201667055837904]            ST
inferior_mesenteric_artery
                             Name        lam  \
180  inferior_mesenteric_artery_0  25.924776
193  inferior_mesenteric_artery_1  82.933783

                                Radius Values End Condition
180  [1.4235720208195837, 1.4237491207810136]    [193, 194]
193  [1.4238001237692486, 1.4250433642555131]            ST